@import '~bootstrap/scss/bootstrap';
$background-color: #919ade;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$red: #ff1a1a;

body {
  background-color: $background-color;
}

h1 {
  color: $red;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

.board-container {
  align-items: center;
  border: 1px solid $teal;
  color: $font-color;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  margin: auto;
  width: 300px;
}

.board {
  align-items: center;
  border: 3px solid $background-color;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  margin: auto;
  width: 300px;
}

.col-4 {
  align-items: center;
  border: 3px solid $teal;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  justify-content: center;
  margin: auto;
  width: 150px;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.hidden {
  visibility: hidden;
}
